[merge]
	tool = nvimdiff
[pull]
	rebase = false
[user]
	name = gregortokarev
	email = e@tokarev.work
	; signingKey = ~/.ssh/github_mac.pub

[url "git@github.com:"]
	insteadOf = https://github.com/


[includeIf "hasconfig:remote.*.url:git@*.wildberries.ru*/**"]
    path = .gitconfig-wb

[core]
	autocrlf = false
	attributesfile = ~/.gitattributes
; [commit]
; 	gpgsign = true
[credential]
	helper = manager
